{{set . "title" "Register page"}}
{{template "header.html" .}}


<div class="container">

    <h1>{{.title}}</h1>

    {{template "flash.html" .}}

    <form action="{{url "App.DoRegister"}}" method="POST">
        <label for="login-field">Login: </label><br/>
        <input type="text" name="username" id="login-field" value="{{.flash.username}}"/><br/>

        <label for="password-field">Password: </label><br/>
        <input type="password" name="password" id="password-field"/><br/>

        <label for="password-verify">Verify password: </label><br/>
        <input type="password" name="verifyPassword" id="password-verify"/><br/>

        <input type="submit" value="Register" />
    </form>

    <a href="/">Back to index</a>
</div>

{{template "footer.html" .}}
