{{set . "title" "User info page"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
    <h3>User info</h3>

    {{with .userID}}
      <b>Current user id: </b> {{.}}<br/>
      <form action="{{url "App.DoLogout"}}" method="POST">
        <input type="Submit" value="Logout"/>
      </form>
    {{else}}
      You are not logged in!
    {{end}}

    <pre><code>{{.}}</code></pre>
    <br/>
    <a href="/">Back to index</a>
  </div>
</div>

{{template "footer.html" .}}
