{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>{{.greeting}}</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    {{template "flash.html" .}}
    <form action="{{url "App.Hello"}}" method="GET">
      {{with $field := field "myName" .}}
          <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
      {{end}}
      <input type="submit" value="Say hello!" />
    </form>
    <hr>
    Go to:
    <ul>
      <li><a href="{{url "App.UserPage"}}">User info</a></li>
      <li><a href="{{url "App.LoginPage"}}">Login</a></li>
      <li><a href="{{url "App.RegisterPage"}}">Register</a></li>
      <li><a href="{{url "Lists.Index"}}">Lists</a></li>
    </ul>
  </div>
</div>

{{template "footer.html" .}}
